/***************
 * 页面样式 
 **************/
body{
	font-size: 0.12rem;
	line-height: 1.5;
	background-color: #fdfdfd;
	overflow: hidden;
	height: 100%;
}
a{
	text-decoration: none;
	color: #666;
}
a:hover,a:active{
	color: #0ae;
	text-decoration: underline;
}




/*页面固定箭头与回到顶部的箭头*/
	/*回到顶部*/
#arrow-to-top{
	position: fixed;
	width: 0.5rem;
	height: 0.5rem;
	background: url(../img/back_to_top.png) center no-repeat rgba(0,0,0,0.5);
	cursor: pointer;
	right: 0.3rem;
	bottom: 0.3rem;
	border-radius: 0.05rem;
	z-index: 2;
	display: none;
}
#arrow-to-top:hover{
	background: url(../img/back_to_top.png) center no-repeat rgba(0,0,0,0.7);
}
@media only screen and (max-width:800px ) {
	#arrow-to-top{
		background: url(../img/back_to_top.png) center no-repeat rgba(0,0,0,0.2);
		right: 0;
	}
	#arrow-to-top:hover{
		background: url(../img/back_to_top.png) center no-repeat rgba(0,0,0,0.4);
	}
}
	/*下一页,实则滚动到下一个锚点*/
#arrow-to-next{
	width: 0.3rem;
	height: 0.3rem;
	position: fixed;
	left: 50%;
	bottom: 0.1rem;
	margin-left: -0.15rem;
	z-index: 2;
	animation: arrow 1s infinite;
	cursor: pointer;
}
#arrow-to-next span{
	font-size: 0.2rem;
	color: #ddd;
	text-shadow: 0 2px 2px rgba(0,0,0,0.4);
}
	/*设置向下箭头的无限循环动画效果*/
@keyframes arrow{
	from{bottom: 0.12rem;}
	to{bottom: 0.1rem;}
}
@-webkit-keyframes arrow{
	from{bottom: 0.12rem;}
	to{bottom: 0.1rem;}
}
@-ms-keyframes arrow{
	from{bottom: 0.12rem;}
	to{bottom: 0.1rem;}
}
@-moz-keyframes arrow{
	from{bottom: 0.12rem;}
	to{bottom: 0.1rem;}
}



/*主导航*/
.navbar{
	font-size: 0.15rem;
}
.navbar-brand img{
	height: 100%;
}
.dropdown>a{
	cursor: pointer;
}

.someWords{
	opacity: 0.5;
	font-size: 0.14rem;
}




/*首页*/
.header{
	width: 100%;
	background: url(../img/bg.png);
}
/*头像*/
.headimg img{
	display: block;
	border-radius: 0.75rem;
	margin: 0.1rem auto;
	width: 1.5rem;
}
.header>div>h1{
	line-height: 400%;
}
.header h2{
	margin-top: 0.4rem;
}
.header ul{
	margin-top: 0.5rem;
}
.header li{
	display: inline-block;
	font-size: 0.18rem;
}

@media screen and (max-width: 800px) {
	.headimg img{
		border-radius: 0.5rem;
		width: 1rem;
	}
}



/*个人简历部分*/
.resume{
	background: #d6e0e8;
}
#accordion{
	width: 70%;
	margin: 0 auto;
}
#accordion h3{
	font-size: 0.2rem;
	text-align: left;
}
#accordion h3.ui-state-active small{
	color: #fff;
}
#accordion div{
	height: 2rem;
}
#accordion p{
	font-size: 0.16rem;
	text-align: left;
	text-indent: 2em;
	line-height: 0.3rem;
}
#accordion p sup{
	text-indent: 0;
}
@media screen and (max-width:800px ) {
	#accordion{
		width: 90%;
		line-height: 0.12em;
	}
}

/*前端技能部分*/
.front-skill{
	background:url(../img/bg_green.jpg);
}
.front-skill .skill-text{
	background: rgba(255,255,255,0.3);
	box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
.other-skill{
	background:url(../img/bg_black.jpg);
	color: #eee;
}
.other-skill .skill-text{
	background: rgba(0,0,0,0.3);
	box-shadow: 0 5px 5px rgba(255,255,255,0.2);
}
.skill-text{
	width: 4rem;
	margin: 0 auto;
	border: 2px solid #333;
	padding: 0.1rem 0.2rem;
	border-radius: 0.1rem;
	line-height: 1.5em;
	font-size: 0.16rem;
}
@media only screen and (max-width:450px ) {
	.skill-text{
		font-size: 0.14rem;
	}
}
@media only screen and (max-width:340px ) {
	.skill-text{
		font-size: 0.12rem;
	}
}
.skill-text p{
	margin-bottom: 0;
}
.skill img{
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}
.fp-tableCell{
	vertical-align: top;
}
.fp-tableCell h4{
	margin-top: 0.5rem;
}

@media only screen and (max-width: 480px) {
	.fp-tableCell h4{
		margin-top: 0.4rem;
	}
	.skill img{
		width: 65%;
		margin-bottom: 0.2rem;
	}
	.skill-text{
		width: 70%;
	}
}

.my-opus{
	background: #eef;
}
.container-fluid{
	height: 100%;
	position: relative;
}
.my-opus ul{
	position: absolute;
	left: 0;
	top: 35%;
}
.my-opus li.this-web{
	margin: 0.3rem 0;
	font-size: 0.2rem;
}
.my-opus li.this-web a:hover{
	text-decoration: none;
}

.my-opus a.my-opus-link{
	display: inline-block;
	width: 80%;
	position: relative;
}

.my-opus a.my-opus-link img{
	width: 100%;
	border: 0.05rem solid #fff;
	box-shadow: 0 0 0.05rem #ccc;
}
.my-opus .black_bg{
	background: #000;
	opacity: 0.5;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
}
.my-opus .black_bg_link{
	color: #fff;
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	margin-top: -0.22rem;
	display: none;
}
.my-opus .black_bg_link h3{
	font-size: 0.2rem;
	margin: 0;
}
.my-opus .black_bg_link p{
	margin: 0;
}
.my-opus .mobile{
	display: none;
}
@media only screen and (max-width:768px ) {
	.my-opus ul{
		overflow: auto;
		position: absolute;
		left: 0;
		top: 1rem;
		height: 80%;
		margin-bottom: 0.5rem;
	}
	.my-opus li{
		margin-bottom: 0.2rem;
	}
	.my-opus .mobile{
		display: block;
		background: rgba(255,255,255,0.9);
		color: #000;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 2;
	}
	.my-opus .mobile h4{
		margin-top: 0.1rem;
		margin-bottom: 0;
	}
	.my-opus .mobile p{
		margin-bottom: 0;
	}
	.my-opus .this-web{
		display: none;
	}
}




.contact{
	background: #ADD8E6;
	padding-bottom: 0.7rem;
}
#contact-me-content{
	margin: 0 auto;
	font-size: 0.16rem;
}
#contact-me-content h3{
	font-size: 0.2rem;
}
#copy-email{
	display: inline-block;
	width: 0.8rem;
	height: 0.2rem;
	line-height: 0.2rem;
	text-align: center;
	cursor: pointer;
	font-size: 0.12rem;
	border: 1px solid #ccc;
	border-radius: 3px;
	background: #eee;
}
#copy-email:hover{
	color: #eee;
	background: #333;
}

.weibo,.github{
	display: inline-block;
	width: 100px;
	height: 100px;
	background-size: 100px 100px;
}
.contact-info{
	width: 100%;
	text-align: center;
}
.weibo{
	background-image: url(../img/weibo_nocolor.png);
}
.weibo:hover{
	background-image: url(../img/weibo_color.png);
}

.github{
	background-image: url(../img/github_nocolor.png);
}
.github:hover{
	background-image: url(../img/github_color.png);
}

.validate-info{
	position: relative;
}
.validate-info p.help-block{
	margin-bottom: 0;
	/*line-height: 0.34rem;*/
	font-size: 0.14rem;
}
.words-count{
	display: block;
	position: absolute;
	width: 0.5rem;
	text-align: right;
	top: 0.04rem;
	left: -0.7rem;
	font-size: 0.12rem;
	color: #000;
	opacity: 0.5;
	z-index: 2;
}
@media only screen and (max-width: 992px) {
	.words-count{
		top: -24px;
		left: auto;
		right: 20px;
	}
	.validate-info p.help-block{
		font-size: 0.12rem;
		line-height: 0.12rem;
	}
}
.help-block{
	color: #f00;
}




footer{
	width: 100%;
	height: 0.5rem;
	background-color: #222;
	color: #eee;
	padding: 0.1rem 0;
	position: absolute;
	left: 0;
	bottom: 0;
}
footer div p{
	font-size: 0.12rem;
	line-height: 0.1rem;
	margin-bottom: 0;
	margin-top: 0.05rem;
}

/* =============
 	 基本默认值
 ============ */

html{
	font-size: 625%;
	color: #222;
}


::selection{
	background-color: #b3d4fc;
	text-shadow: none;
}

ul{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}

/* =============
 	 工具样式
 ============ */

.center-block{
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.pull-right{
	float: right !important;
}
.pull-left{
	float: left !important;
}
.text-left{
	text-align: left !important;
}
.text-right{
	text-align: right !important;
}
.text-center{
	text-align: center !important;
}
.hide{
	display: none !important;
}
.show{
	display: block !important;
}
.invisible{
	visibility: hidden;
}
.text-hide{
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}
.clearfix:before,
.clearfix:after{
	content: " ";
	display: table;
}
.clearfix:after{
	clear: both;
}

/* =============
 	 浏览器更新提示
 ============ */
.browserupgrade{
	margin: 0;
	padding: 0.1rem;
	background: #ccc;
}
