/***************
 * 页面样式 
 **************/
body{
	font-size: 0.12rem;
	line-height: 1.5;
	background-color: #fdfdfd;
	overflow: hidden;
	height: 100%;
}
a{
	text-decoration: none;
	color: #666;
}
a:hover,a:active{
	color: #0ae;
	text-decoration: underline;
}




/*页面固定箭头与回到顶部的箭头*/
	/*回到顶部*/
#arrow-to-top{
	position: fixed;
	width: 0.5rem;
	height: 0.5rem;
	background: url(../img/back_to_top.png) center no-repeat rgba(0,0,0,0.5);
	cursor: pointer;
	right: 0.3rem;
	bottom: 0.3rem;
	border-radius: 0.05rem;
	z-index: 2;
	display: none;
}
#arrow-to-top:hover{
	background: url(../img/back_to_top.png) center no-repeat rgba(0,0,0,0.7);
}
@media only screen and (max-width:800px ) {
	#arrow-to-top{
		background: url(../img/back_to_top.png) center no-repeat rgba(0,0,0,0.2);
		right: 0;
	}
	#arrow-to-top:hover{
		background: url(../img/back_to_top.png) center no-repeat rgba(0,0,0,0.4);
	}
}
	/*下一页,实则滚动到下一个锚点*/
#arrow-to-next{
	width: 0.3rem;
	height: 0.3rem;
	position: fixed;
	left: 50%;
	bottom: 0.1rem;
	margin-left: -0.15rem;
	z-index: 2;
	animation: arrow 1s infinite;
	cursor: pointer;
}
#arrow-to-next span{
	font-size: 0.2rem;
	color: #ddd;
	text-shadow: 0 2px 2px rgba(0,0,0,0.4);
}
	/*设置向下箭头的无限循环动画效果*/
@keyframes arrow{
	from{bottom: 0.12rem;}
	to{bottom: 0.1rem;}
}
@-webkit-keyframes arrow{
	from{bottom: 0.12rem;}
	to{bottom: 0.1rem;}
}
@-ms-keyframes arrow{
	from{bottom: 0.12rem;}
	to{bottom: 0.1rem;}
}
@-moz-keyframes arrow{
	from{bottom: 0.12rem;}
	to{bottom: 0.1rem;}
}



/*主导航*/
.navbar{
	font-size: 0.15rem;
}
.navbar-brand img{
	height: 100%;
}
.dropdown>a{
	cursor: pointer;
}

.someWords{
	opacity: 0.5;
	font-size: 0.14rem;
}




/*首页*/
.header{
	width: 100%;
	background: url(../img/bg.png);
}
/*头像*/
.headimg img{
	display: block;
	border-radius: 0.75rem;
	margin: 0.1rem auto;
	width: 1.5rem;
}
.content .header>div>h1{
	line-height: 400%;
}
.header h2{
	margin-top: 0.4rem;
}
.header ul{
	margin-top: 0.5rem;
}
.header li{
	display: inline-block;
	font-size: 0.18rem;
}

@media screen and (max-width: 800px) {
	.headimg img{
		border-radius: 0.5rem;
		width: 1rem;
	}
}



/*个人简历部分*/
.resume{
	background: #d6e0e8;
}
#accordion{
	width: 70%;
	margin: 0 auto;
}
#accordion h3{
	font-size: 0.2rem;
	text-align: left;
}
#accordion h3.ui-state-active small{
	color: #fff;
}
#accordion div{
	height: 2rem;
}
#accordion p{
	font-size: 0.16rem;
	text-align: left;
	text-indent: 2em;
	line-height: 0.3rem;
}
#accordion p sup{
	text-indent: 0;
}
@media screen and (max-width:800px ) {
	#accordion{
		width: 90%;
		line-height: 0.12em;
	}
}

/*前端技能部分*/
.front-skill{
	background:url(../img/bg_green.jpg);
}
.front-skill .skill-text{
	background: rgba(255,255,255,0.3);
	box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
.other-skill{
	background:url(../img/bg_black.jpg);
	color: #eee;
}
.other-skill .skill-text{
	background: rgba(0,0,0,0.3);
	box-shadow: 0 5px 5px rgba(255,255,255,0.2);
}
.skill-text{
	width: 4rem;
	margin: 0 auto;
	border: 2px solid #333;
	padding: 0.1rem 0.2rem;
	border-radius: 0.1rem;
	line-height: 1.5em;
	font-size: 0.16rem;
}
@media only screen and (max-width:450px ) {
	.skill-text{
		font-size: 0.14rem;
	}
}
@media only screen and (max-width:340px ) {
	.skill-text{
		font-size: 0.12rem;
	}
}
.skill-text p{
	margin-bottom: 0;
}
.skill img{
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}
.slide>div{
	padding-top: 0;
}
.fp-tableCell{
	vertical-align: top;
}
.fp-tableCell h4{
	margin-top: 0.7rem;
}
@media only screen and (max-width: 480px) {
	.fp-tableCell h4{
		margin-top: 0.3rem;
	}
	.skill img{
		width: 65%;
		/*margin-top: -1rem;*/
		margin-bottom: 1rem;
	}
	.skill-text{
		width: 70%;
		margin-top: -0.8rem;
	}
}


















footer{
	margin-top: 0.5rem;
	width: 100%;
	height: 0.8rem;
	background-color: #eee;
	color: #888;
	padding: 0.2rem 0;
	position: absolute;
	left: 0;
	bottom: 0;
}
footer div{
	height: 0.4rem;
}
footer div p{
	font-size: 0.12rem;
	line-height: 0.1rem;
}

/* =============
 	 基本默认值
 ============ */

html{
	font-size: 625%;
	color: #222;
}


::selection{
	background-color: #b3d4fc;
	text-shadow: none;
}

ul{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}

/* =============
 	 工具样式
 ============ */

.center-block{
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.pull-right{
	float: right !important;
}
.pull-left{
	float: left !important;
}
.text-left{
	text-align: left !important;
}
.text-right{
	text-align: right !important;
}
.text-center{
	text-align: center !important;
}
.hide{
	display: none !important;
}
.show{
	display: block !important;
}
.invisible{
	visibility: hidden;
}
.text-hide{
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}
.clearfix:before,
.clearfix:after{
	content: " ";
	display: table;
}
.clearfix:after{
	clear: both;
}

/* =============
 	 浏览器更新提示
 ============ */
.browserupgrade{
	margin: 0;
	padding: 0.1rem;
	background: #ccc;
}
