/**
 * 格式化
 */
*{
	margin: 0;
	padding: 0;
	color: #222;
}
html,body{
	font-size: 100px;
	font-family: "微软雅黑";
	background-color: #eee;
}
body{
	position: relative;
}
a,a:hover{
	text-decoration: none;
}
li{
	list-style: none;
}

/**
 * 本页样式
 */
header a{
	font-size: 0.18rem;
}
header .navbar-brand img{
	height: 0.2rem;
}
header li.dropdown{
	cursor: pointer;
}
header li img{
	height: 20px;
	vertical-align: -20%;
}


.header{
	padding-top: 0.5rem;
	width: 100%;
	background-color: #d8d2c9;
	position: relative;
	height: 1000px;
	overflow: hidden;
}
.header img.balloon{
	width: 1.5rem;
	position: absolute;
	left: 28%;	
	top: 20%;
	z-index: 2;
}
.header img.cloud{
	position: absolute;
	left: 10%;
	top: 25%;
	z-index: 1;
	width: 1rem;
	animation: cloud-float 7s infinite linear;
	-webkit-animation: cloud-float 7s infinite linear;
	animation-direction: alternate;
	-webkit-animation-direction: alternate;
}
.header img.cloud:nth-child(2){
	margin-left: 2rem;
	margin-top: 1rem;
	animation-delay: 3s;
	-webkit-animation-delay: 3s;
}
.header img.cloud:nth-child(3){
	margin-left: 4rem;
	margin-top: 0.3rem;
	animation-delay: 3s;
	-webkit-animation-delay: 6s;
}

@keyframes cloud-float{
	from{left: 10%;}
	to{left: 12%;}
}
@-webkit-keyframes cloud-float{
	from{left: 10%;}
	to{left: 12%;}
}
@-moz-keyframes cloud-float{
	from{left: 10%;}
	to{left: 12%;}
}
.header .content{
	position: absolute;
	left: 50%;
	top: 30%;
	width: 50%;
}
.header .content img{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 4;
	transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	opacity: 0;
}
.header .content h4{
	height: 100px;
	line-height: 100px;
	text-indent: 4em;
	border-radius: 50px;
	color: #666;
	font-size: 0.3rem;
	margin-top: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 4;
	opacity: 0;
}
.header .content #header-title-bg{
	width: 0;
	height: 100px;
	border-radius: 50px;
	background-color: #ECE5D9;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
	opacity: 0;
}
#header-content-info{
	position: absolute;
	left: 50%;
	top: 140px;
	line-height: 20px;
	padding: 0;
	margin-left: -160px;
	height: 24px;
	width: 360px;
	display: none;
}
#header-content-info li{
	font-size: 18px;
	width: 100px;
	display:inline-block;
	text-align: center;
	vertical-align: top;
}
#header-content-info li img{
	width: 24px;
	height: 24px;
	display: inline;
	position: static;
}
.header .content .some-words{
	font-size: 26px;
	position: absolute;
	left: -500px;
	top: 200px;
	color: #777;
	display: none;
}
.header .content .some-words span{
	color: #777;
}
.header .content a.webinfo{
	display: block;
	position: absolute;
	top: 300px;
	left: 350px;
	font-size: 18px;
	color: #fff;
	width: 160px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background: #d8b889;
	border-radius: 12px;
}
.header .content a.webinfo:hover{
	text-decoration: none;
	background: #bb8d49;
}

.resume{
	width: 100%;
	font-size: 16px;
}
.resume a{
	display: inline-block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	border-radius: 50px;
	text-align: center;
	background-color: #00B3EA;
	color: #fff;
}
.resume-content{
	background: #99b3ea;
}
.resume figure{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #007FFF;
	background: radial-gradient(circle at 30px 30px,#acf,#02226a);
}




footer{
	background: #444;
	padding: 20px 0;
	margin-top: 10px;
}
footer p{
	margin: 0;
	color: #eee;
	font-size: 12px;
	text-align: center;
}
